/* h1 {
    text-align: center;
}
#todo-list {
    width: 500px;
    margin: 60px auto;
}
form,
.todo {
    border: 1px solid grey;
    padding: 10px 20px;
    margin-bottom: 10px;
}
form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
form input {
    padding: 4px 8px;
    flex-grow: 1;
    margin-right: 16px;
}
.todo {
    display: flex;
    flex-direction: column;
}

button {
    font-size: 16px;
    background-color: rgb(217, 60, 35);
    color: #fff;
    border-radius: 8px;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}
button:hover {
    background-color: rgb(173, 47, 28);
}
button:active {
    background-color: rgb(130, 35, 21);
}
button:focus {
    outline: 0;
}
input[type="text"] {
    font-size: 20px;
    font-family: monospace;
}
.todo input[type="checkbox"] {
    transform: scale(1.8) translateY(1px);
    margin: 0 16px 0 0;
    cursor: pointer;
}
.todo-text input {
    padding: 4px;
}
.todo-text {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}
.todo-completed {
    display: flex;
    margin: 10px 0;
}
.todo-actions {
    display: flex;
    justify-content: space-between;
}





.todoItm{
    background: palevioletred;

}

.completed {
    color: red;
}
.incomplete {
    color: green;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background: #4dd0e1;
    color: #d50000;
}

.todo-wrapper {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg, rgba(48, 16, 255, 1) 0%, rgba(100, 115, 255, 1) 100%);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-container {
    width: 80%;
    max-width: 450px;
    min-width: 400px;
    min-height: 80vh;
    height: auto;
    background: #000;
    overflow-y: auto;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    padding: 2rem 1.5rem;
    margin-top: 10vh;
    border-radius: 20px;

    position: relative;
}
.todo-conatiner-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-heading,
.todo-form,
.todo-items {
    width: 100%;
    /* background: pink; */
    margin-bottom: 2rem;
    /* border: 1px solid #fff; */
}
.todo-heading {
    font-size: 0.7rem;
    font-style: italic;
    font-family: cursive;
    text-align: center;
}

.todo-form {
    width: 80%;
    outline: none;
    border: none;
    display: flex;
}
.todo-inp {
    width: 75%;
    background: transparent;
    padding: 0.8em 1em;
    color: #fff;
    outline: none;
    border: 1px solid #149fff;
}
.todo-inp::placeholder {
    color: #e2e2e2;
}
.todo-inp:focus {
    /* border-color: whitesmoke; */
    color: #000;
    background: linear-gradient(90deg, rgba(20, 159, 255, 1) 0%, rgba(17, 122, 255, 1) 100%);
}
.todo-btn {
    width: 25%;
    background: linear-gradient(90deg, rgba(93, 12, 255, 1) 0%, rgba(155, 0, 250, 1) 100%);
    color: #fff;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 0.8rem;
    cursor: pointer;
}
.todo-btn:active {
    background: #d50000;
}
.emptyTodoDisplay{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
}
.emptyTodoHeading{
    font-size: 2rem;
    color: rgb(243, 20, 20);
    letter-spacing: 1px;
    margin-bottom: 1em;
    text-shadow: 2px 2px 7px rgb(247, 65, 65);
    font-family: cursive;
}
.emptyTodoDisplay p{
    color: mediumorchid;
}
.todo-items {
    width: 100%;
    height: auto;
    /* background: blueviolet; */
    display: flex;
    flex-direction: column;
}
.todo-item {
    width: 100%;
    height: 50px;
    background: linear-gradient(90deg, rgba(255, 118, 20, 1) 0%, rgba(255, 84, 17, 1) 100%);
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
    border-radius: 10px;
    position: relative;
}
.todo-item:nth-child(4n + 1) {
    background: linear-gradient(90deg, rgba(93, 12, 255, 1) 0%, rgba(155, 0, 250, 1) 100%);
}

.todo-item:nth-child(4n + 2) {
    background: linear-gradient(90deg, rgba(255, 12, 241, 1) 0%, rgba(250, 0, 135, 1) 100%);
}
.todo-item:nth-child(4n + 3) {
    background: linear-gradient(90deg, rgba(20, 159, 255, 1) 0%, rgba(17, 122, 255, 1) 100%);
}
/* .todo-item:hover{
    background: rgb(0, 176, 255, .8);
} */
.todo-txt-delBtn {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.todo-txt {
    width: 90%;
    /* background: chartreuse; */
    line-height: 50px;
    padding: 0 1em;
    border: none;
    font-weight: bold;
}
.todo-txt-hover {
    cursor: pointer;
}
input.todo-txt {
    color: #e53935;
    padding: 0 2em;
    outline: none;
    background: #fdd835;
    border-radius: inherit;
    font-weight: bold;
    /* border: 1px solid#e43a15; */
}

.btn {
    width: auto;
    /* padding: .5em; */
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    line-height: 50px;
    cursor: pointer;
}
.btn:hover {
    /* width: fit-content;
    height: fit-content;
    background: rgba(0,0,0,.4);
    border-radius: 50%; */
    color: #e53935;
}
.delBtn {
    text-align: right;
}
.editBtn {
    margin-right: 10px;
}
.editSubmitBtn {
    margin-left: 10px;
}

/* .item-span{
    width: 100%;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
} */
.item-span {
    content: "";
    width: 90%;
    height: 1px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.complete {
    /* text-decoration: line-through; */
    /* background-color: rgb(197, 191, 194); */
    color: #000;
}

.del-menu {
    position: absolute;
    bottom: 4%;
    right: 4%;
    font-size: 1rem;
    padding: 0.6em 1em;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #ff5252;
    color: #fff;
    cursor: pointer;
}
.del-menu:active {
    background: #d50000;
}

.resBtn {
    /* font-size: 1rem; */
    padding: 1em;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.resBtn i {
    font-size: 1rem;
    color: #d50000;
}
/* .delWrapper{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
}
.delWrapper-hide-show{
    display: none;
}
.delContainer{
    width: 350px;
    height: 250px;
    background: rgb(106, 107, 107);
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.delContainer .btn-grp{
    width: 100%;
    display: flex;
}
.btn-grp button{
    flex: 1;
    padding: 1em;
    margin-right: .5em;
    background: rgb(60, 228, 96);
    border: none;
    border-radius: 10px;
    outline: none;
    font-weight: bold;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    opacity: .8;
}
.btn-grp button:nth-child(1){
    background: crimson;
}
.btn-grp button:hover{
    opacity: 1;
} */

/* for mobile */
@media (max-width: 480px) {
    .todo-container {
        width: 100%;
        margin-top: 0;
        min-height: 100vh;
        border-radius: 0;
    }
}
